@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.ChamptionsCard {
  margin: 20px auto;
  .ChampImage {
    position: relative;
    img {
      width: 245px;
    }
    .caption {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      top: calc(29rem - 67px);
    }
    .caption:hover {
      background-color: rgba(0, 0, 0, 1);
    }
    p {
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: rgba(255, 255, 255, 0.5);
    }
    p:hover {
      color: white;
    }
  }
}
