@import "./var.scss";

.Login {
  display: grid;
  height: 100vh;
  place-items: center;
  animation: showing $fadeAnimationdurationLogin;
  form {
    padding: 10rem;
    border: 10px solid $CommonColor1;
    text-align: center;
    //position: relative;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    .fade {
      animation: loginFadded $fadeAnimationdurationLogin;
      opacity: 0;
    }
    @keyframes loginFadded {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.5;
      }
    }
    .handleImage {
      .Logo {
        width: 14rem;
      }
    }

    .handleInput {
      position: relative;
      border: 2px solid $CommonColor1;
      border-radius: 30px;
      margin-bottom: 10px;
      svg {
        position: absolute;
        font-size: 15px;
        top: 27%;
        left: 3%;
      }
      .handleLogo {
        padding-left: 25px;
      }
      input {
        text-align: center;
        padding-block: 8px;
        border-radius: 20px;
        border: 0px;
      }
      input:focus-visible {
        outline: 0px;
      }
      ::placeholder {
        color: $CommonColor1;
        text-align: center;
      }
    }
    input[type="submit"] {
      width: 100%;
      border: 2px solid $CommonColor1;
      padding: 10px;
      border-radius: 30px;
      font-family: Roboto;
      font-weight: bold;
    }
    input[type="submit"]:hover {
      animation: glow 1s infinite;
      animation-fill-mode: forwards;
    }

    @keyframes glow {
      0% {
        background-color: $CommonColor3;
        color: white;
      }
      50% {
        background-color: gray;
        color: $CommonColor3;
      }
      100% {
        background-color: $CommonColor3;
        color: white;
      }
    }
  }

  .moreLinks {
    margin-top: 10px;
  }
  @media (max-width: 560px) {
    form {
      padding: 3em;
    }
  }
  @keyframes showing {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
/*
.LoginFade {
  @extend .Login;
  animation: loginFadded $fadeAnimationdurationLogin;
  opacity: 0;
}
@keyframes loginFadded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*/
