$CommonColor0: #f4f4f4;
$CommonColor1: #e95f0d;
$CommonColor3: #000000a4;
$CommonColor4: #e4e4e4;
$fadeAnimationdurationLogin: 1s;
$InputBackground: #f6f6f669;
$GradriantBackground1: #eb620d;
$GradriantBackground2: -webkit-linear-gradient(to top, #eb620d, #f6f6f6);
$GradriantBackground3: linear-gradient(to top, #eb620d, #f6f6f6);
